:root {
  --main-color: #121212;
  --bg-accent: #343A40;
  --bg-accent2: #515151;
  --bg-accent3: #7E7E7E;
  --accent1-color: #47D147;
  --accent2-color: #1A7DE0;
  --accent3-color: #F91F1F;
}

/* Properties */
body {
  color: white;
  background-color: var(--main-color);
}

hr {
  background-color: white;
}

a {
  color: var(--accent1-color);
}

img {
  width: 75%;
}

button:hover {
  opacity: 0.8;
}

h1 {
  font-size: 30px;
}

h1 a:hover {
  color: var(--accent2-color);
}

h2 {
  font-size: 27px;
}

p {
  font-size: 20px;
}

p strong {
  color: white;
}

table {
  width: 75%;
  margin: auto;
  color: white;
  border-collapse: collapse;
}

th {
  background-color: var(--bg-accent);
  border: var(--main-color) solid 1px;
  padding: 12px 0px;
  font-size: 20px;
  text-align: center;
}

td {
  border: var(--main-color) solid 1px;
  padding: 5px;
}

tr:nth-child(even) {
  background-color: var(--bg-accent3);
}

tr:nth-child(odd) {
  background-color: var(--bg-accent2);
}

/* Classes */
.content {
  width: 99%;
  border-style: none;
  margin: 10px;
}

.header {
  padding: 30px;
  text-align: center; 
}

.col {
  text-align: center;
  border-bottom-style: double;
  border-width: 2px;
}

.credentials {
  width: 450px;
  margin: auto;
}

.devs {
  color: var(--accent2-color);
}

.imagesVS { 
  width: 450px;
  height: 350px;
}

.verticle-center{
  min-height: 100%;
  min-height: 95vh;

  display:flex;
  align-items: center;
}

.horizontal-center{
  text-align: center;
  align-items: center;
}

.poll-list {
  text-align: center; /*just placeholder styling for the polls*/ 
}

.leaderboard {
  border: white solid 2px;
}

.custom-button {
  border: none;
  padding: 0;
  background-color: var(--main-color);
  color: white;
  text-decoration: underline;
  height: 0px;
  font-family: "Helvetica Neue";
  font-size: 16px;
}

.custom-button:focus {
  outline: 0 !important;
}

.fake-link {
  color: var(--accent1-color)
}

.num-align{
  text-align: right;
}

.admin-align {
  text-align: center; 
}

.center-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 33%;
}
/* Id's */
#credits {
  list-style-type: none;
  font-weight: bold;
}

#red {
  color: var(--accent3-color);
}

#green {
  color: var(--accent1-color);
}

#blue {
  color: var(--accent2-color);
}

#page-container {
  position: relative;
  min-height: 100vh;
}

#content-wrap {
  padding-bottom: 2.5rem;
}

#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2.54rem;
  border-top: 1px solid white;
}

#centered-button {
  width: 100%;
}