:root {
  --main-color: #121212;
  --accent1-color: #47d147;
  --accent2-color: #1A7DE0;
}

/* Properties */
body {
  color: white;
  background-color: var(--main-color);
}

hr {
  background-color: white;
}

a {
  color: var(--accent1-color);
}

img {
  width: 75%
}

button:hover {
  opacity: 0.8;
}

h1 {
  font-size: 30px;
}

h1 a:hover {
  color: var(--accent2-color);
}

h2 {
  font-size: 25px;
}

/* Classes */
.content {
  width: 99%;
  border-style: none;
  margin: 10px;
}

.header {
  padding: 30px;
  text-align: center; 
}

.col {
  text-align: center;
  border-bottom-style: double;
  border-width: 2px;
}

.credentials {
  width: 450px;
  margin: auto;
}

/* Id's */
#credits {
  list-style-type: none;
  font-weight: bold;
}

#red {
  color: #F91F1F
}

#green {
  color: var(--accent1-color);
}

#blue {
  color: var(--accent2-color);
}

p strong {
  color: white;
}