:root {
  --main-color: #121212;
  --bg-accent: #343a40;
  --accent1-color: #47d147;
  --accent2-color: #1A7DE0;
  --accent3-color: #F91F1F;
}

/* Properties */
body {
  color: white;
  background-color: var(--main-color);
}

hr {
  background-color: white;
}

a {
  color: var(--accent1-color);
}

img {
  width: 75%
}

button:hover {
  opacity: 0.8;
}

h1 {
  font-size: 30px;
}

h1 a:hover {
  color: var(--accent2-color);
}

h2 {
  font-size: 25px;
}

p strong {
  color: white;
}

/* Classes */
.content {
  width: 99%;
  border-style: none;
  margin: 10px;
}

.header {
  padding: 30px;
  text-align: center; 
}

.col {
  text-align: center;
  border-bottom-style: double;
  border-width: 2px;
}

.credentials {
  width: 450px;
  margin: auto;
}

.devs {
  color: var(--accent2-color);
}

.imagesVS { 
  width: 40%;
  height: 250px;
}

/* Id's */
#credits {
  list-style-type: none;
  font-weight: bold;
}

#red {
  color: var(--accent3-color);
}

#green {
  color: var(--accent1-color);
}

#blue {
  color: var(--accent2-color);
}

#page-container {
  position: relative;
  min-height: 100vh;
}

#content-wrap {
  padding-bottom: 2.5rem;
}

#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2.54rem;
  border-top: 1px solid white;
}