li a {
  float: left;
  display: block;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  color: white;
  }
  
li a:hover:not(.active) {
  background-color: #494949;
}

.header {
  padding: 30px;
  text-align: center; 
}

.active {
  background-color: #47d147;
}

#navbar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: black;
  position: sticky;
  top: 0;
}

#navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px;
  text-decoration: none;
}

#logout {
  float: right;
}

#logobanner {
  width: 55%;
}