body {
    color: white;
    background-color: #3b3b3b;
  }
  
  .header {
    padding: 30px;
    text-align: center;
  }
  
  #logo {
    float: left;
    width: 11.5%;
    height: 4.6%;
  }
  
  #logout {
    float: right;
  }
  
  #navbar {
    list-style-type: none;
    overflow: hidden;
    background-color: black;
  }
  
  
  #navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px;
    text-decoration: none;
  }
  
  .content {
    padding: 16px;
  }
  
  .sticky {
    position: fixed;
    top: 0;
    width: 100%;
  }
  
  .sticky + .content {
    padding-top: 60px;
  }
  
  li a {
    float: left;
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    color: white;
  }
  
  li a:hover {
    background-color: #525252;
  }
  
  
  
  