/* Properties */
body {
  color: white;
  background-color: #3b3b3b;
  font-family: sans-serif;
  font-size: 20px;
}

a {
  color: greenyellow;
}

div {
  margin: 10px;
}

img {
  width: 95%
}

input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

button {
  background-color: #47d147;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

h1 {
  font-size: 30px;
}

h2 {
  font-size: 25px;
}

/* Classes */
.container {
  padding: 16px;
  width: 30%;
}

.content {
  width: 99%;
  border-style: none;
  margin: 10px;
}

.footer {
  font-style: italic;
  margin: 0;
}

/* Id's */
#credits {
  list-style-type: none;
  font-weight: bold;
}