body {
  color: white;
  background-color: #3b3b3b;
  font-family: perpetua;
  font-size: 20px;
}
  
div {
  margin: 10px;
}

iFrame {
  width: 99%;
  border-style: none;
  margin: 10px;
}

img {
  width: 95%
}

input[type=text], input[type=password] {
  width: 30%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

button {
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 30%;
}

h1 {
  font-size: 30px;
}

.container {
  padding: 16px;
}

#credits {
  list-style-type: none;
}